@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #703BF7;
    --bg-primary: #141414;
    --bg-secondary: #1A1A1A;
    --border: #262626;
    --text-primary: #ffffff;
    --text-secondary: #999999;
}

body{
    @apply bg-bg text-text
}

.slick-slide > div{
    @apply mx-0 md:mx-[10px] xl:mx-[15px]
}

.scroll_disable{
    @apply overflow-y-hidden md:overflow-y-scroll
}